/*Index Stylecss*/
*{
    margin: 0;
    padding: 0;
}
/*Body*/
body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    color: black;
    line-height: 1.6;
    background-color: aliceblue;
    background-size: 100%;
}

#showcase{
    background-image:url(img/PhBeach.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    padding: 0 20px;
}

#showcase h1{
    font-size: 50px;
    line-height: 1.2;
    font-family: Kristen ITC;
}

#showcase a{
    font-size: 20px;
}

#showcase .nav{
    width: 100%;
    height: 200px;
    background: #ccc;
    text-align: center;
    font-family: Adobe Hebrew;
    background: url(pBanner.jpg);
    background-repeat: no-repeat;
    background-size: auto;
}

#showcase ul li{
    list-style: none;
    display: inline;
    font-weight: bold;
    padding: 10px;
}

#showcase .button{
    font-size: 18px;
    text-decoration:none;
    color: black;
    padding: 10px 20px;
    margin-top: 20px;
    text-align: center;
    transition: all 0.45s;
    filter: alpha (opacity=70);
}

#showcase .button:hover{
    background: lightskyblue;
    color: whitesmoke;
    transition: all 0.45s;
    filter: alpha (opacity=70);
}

/*Top Header 2 Link*/
.showcase-h2{
    font-size: 30px;   
    font-family: Adobe Hebrew;
   }

/*FeedbackQuote*/
.FeedbackQuote{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px; 
}

/*FeedbackForm*/
.FeedbackForm{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

/*-----Footer-----*/
#footer{
    background-color: black;
    position: relative;
    font-family: Adobe hebrew;
    font-size: 15px;
    width: 100%;
    color: aliceblue;
    padding: 0px 0px 
}