/*Index Stylecss*/
*{
    margin: 0;
    padding: 0;
}
/*Body*/
body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    color: black;
    line-height: 1.6;
    background-color: aliceblue;
    background-size: 100%;
}

/*-- Webpage background --*/
#showcase{
    background-image:url(img/PhBeach.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    padding: 0 20px;
}

/*-- Heading --*/
#showcase h1{
    font-size: 50px;
    line-height: 1.2;
    font-family: Kristen ITC;
}

#showcase a{
    font-size: 20px;
}

/*-- Navigation --*/
#showcase .nav{
    width: 100%;
    height: 200px;
    background: #ccc;
    text-align: center;
    font-family: Adobe Hebrew;
    background: url(pBanner.jpg);
    background-repeat: no-repeat;
    background-size: auto;
}

#showcase ul li{
    list-style: none;
    display: inline;
    font-weight: bold;
    padding: 10px;
}

#showcase .button{
    font-size: 18px;
    text-decoration:none;
    color: black;
    padding: 10px 20px;
    margin-top: 20px;
    text-align: center;
    transition: all 0.45s;
    filter: alpha (opacity=70);
}

#showcase .button:hover{
    background: lightskyblue;
    color: whitesmoke;
    transition: all 0.45s;
    filter: alpha (opacity=70);
}

/*-- Header 2 --*/
.header-2{
font-family: Kristen ITC;
font-size: 12px;
}

/*-- Inserted Image --*/
.Map-image{
display: block;
}

/*Paragraph*/
.Introduction {
    font-size: 100%;
    background-color: aliceblue;
    background-size: cover;
    position: center;
    width: 102.2%;
    height: 100vh;
    font-family: Adobe Hebrew;
    text-align: left;
    transition: all 0.45s;
    filter: alpha (opacity=70);
}

/*Grid Gallery*/
.picture-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    justify-items: center;
    grid-gap: 3px;
    grid-row-gap: 0px;
}
.grid-box img{
    width: 100%;
    display: block;
}
.image-resize{
    height: 380px;
    margin: 2px;
    object-fit: cover;
    object-position: center;
}

/*-----Footer-----*/
#footer{
    background-color: black;
    position: relative;
    font-family: Adobe hebrew;
    font-size: 15px;
    width: 100%;
    color: aliceblue;
    padding: 0px 0px 
}
